mixin card-IzquierdaDerecha(blogTitle,blogSubTitle,blogParagraph,blogLink)
  .blog-container
    h1.blog-container__title= blogTitle
    p.blog-container__subtitle= blogSubTitle
    .blog-container__linea
    p.blog-container__paragraph= blogParagraph
    a.blog-container__link(href="#")= blogLink