mixin testimony-Country(imgCity,countryTestimony,descriptionCity,nameTourist)
  div(class="testimonyCountry" style=`background-image: url(img/${imgCity})`)
    .testimonyCountry__info
      h1.testimonyCountry__nameCountry #{countryTestimony}
      p.testimonyCountry__description #{descriptionCity}
      h2.testimonyCountry__nameTourist #{nameTourist}
      .testimonyCountry__linea